<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <h1>Movie Snob</h1>
    <form method="POST" action="/users/<%= @user.id %>">
        <input id = "hidden" type = "hidden" name = "_method" value = "PATCH">
        <h3>Release Your Inner Snob</h3>
      <div class="form-row">  
        <div class = "form-group col-md-6">
          <label for="username">Username</label>
          <input type = "text" class="form-control" name = "username" id = "username" placeholder = "Username">
        </div>
      </div>
      <div class="form-row">          
        <div class = "form-group col-md-6">
          <label for="password">Password</label>
          <input type = "password" class="form-control" name = "password" id = "password" placeholder = "Password">
        </div>
      </div>
      <button type = "submit" class="btn btn-primary col-md-3">Submit</button>
    </form>
    </br>
    <form action = "/users/<%=@user.id%>/delete" method="POST">
        <input id = "hidden" type = "hidden" name = "_method" value = "DELETE">
        <button type = "submit" class="btn btn-primary col-md-3">Delete Account</button>
    </form>

  </body>
</html>