<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <h1>Movie Snob</h1>
    <form method="POST" action="/login">
        <h3>Release Your Inner Snob</h3>
        <input type = "email" name = "email" id = "email" placeholder = "you@email.com">
        </br>
        <input type = "password" name = "password" id = "password" placeholder = "Password">
        </br>
        <input type = "submit" value = "Login">
    </form>
  </body>
</html>