<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <h1>Movie Snob</h1>
    <form method="POST" action="/login">
      <h3>Release Your Inner Snob</h3>
      <div class="form-row">  
        <div class = "form-group col-md-6">
          <label for="email">Email</label>
          <input type = "email" class="form-control" name = "email" id = "email" placeholder = "you@email.com">
        </div>
      </div>
      <div class="form-row">          
        <div class = "form-group col-md-6">
          <label for="password">Password</label>
          <input type = "password" class="form-control" name = "password" id = "password" placeholder = "Password">
        </div>
      </div>
      <button type = "submit" class="btn btn-primary col-md-3">Log In</button>
    </form>
    <p>no account? <a href="/signup">Signup</a></p>
  </body>
</html>