<!DOCTYPE html>
<html>
  <head>
    <title>Movie Snob</title>
  </head>
  <body>
    <h1>Movie Snob</h1>
    <%# shows recent posts about movies
    allows user to login/log out
    but doesn't allow a user to comment or edit post %>
  </body>
</html>